
html, body{
  display: block;
  min-height: 100%
}

input:focus{
  border: none;

}


body{
    min-height: 100vh;
    background-color: #e5e5e5;
}
a{
  text-decoration: none;
  color: #3e7fb0;
}

.app-wrapper {
  display: grid;
  min-height: 100vh;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
  margin: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
}




